/* ContractorHome.css */
.contractor-home-container {
    margin: 20px;
}

.contractor-info {
    margin-top: 20px;
    padding: 10px;
    background: #e7f3ff;
    border: 1px solid #b3e0ff;
    border-radius: 5px;
}
